<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
            <remove name="CGI-exe" />
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\administrator\appdata\local\programs\python\python37\python.exe|c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="CGI-exe" path="*" verb="*" type="" modules="FastCgiModule" scriptProcessor="c:\users\administrator\appdata\local\programs\python\python37\python.exe|c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Execute" allowPathInfo="true" preCondition="" responseBufferLimit="4194304" />
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="E:\wwwroot\djando\website" />
            <add key="DJANGO_SETTINGS_MODULE" value="website.settings" />
        </appSettings>
    </configuration>