a:link{
    text-decoration: none;
}

#blogTitle h1 a, #blogTitle h4 {
                        color: #fff;
                    }
#blogTitle h1{
            margin-left: 100px;
            margin-top: 0;
        }
.left-body{
    padding-left: 140px;
}
#swf{
    position: fixed;
}
#topics {
                background: #b9def0;
                overflow: hidden;
                padding: 20px;
                border: 1px solid #dedede;
            }
#blog_detail, #comment-text{
                background: #fff;
                overflow: hidden;
                padding: 20px;
                border: 1px solid #dedede;
                border-radius: 5px;
}
#topics #blogTitle {
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 1.5;
                    margin: 10px 0;
                     }
#blogBody{
            text-indent: 2em;
        }
.comment-box {
    margin-top: 5px;
    background: #afd9ee;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.comment-box .comment-edit-box {
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
}.comment-box .comment-edit-box .user-img {
    margin-right: 35px;
}
 .comment-box .comment-edit-box .user-img a:link{
            color: #169fe6;
            text-shadow: 2px 2px 2px #000;
            /*text-decoration: none;*/
}

.comment-box .comment-edit-box form {
    width: 100%;
    /*position: relative;*/
}
.comment-sofa-flag {
    /*position: absolute;*/
    width: 46px;
    height: 18px;
    top: -4px;
    right: -4px;
    display: none;
}.comment-box .comment-edit-box form .comment-content.open {
    height: 64px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px 0 #5094d5;
    box-shadow: 0 0 6px 0 #5094d5;
    border: 1px solid #5094d5;
}.comment-box .comment-edit-box form .comment-content {
    display: block;
    width: 100%;
    padding: 6px 8px;
    background: rgba(248,249,251,0.8);
    border: 1px solid #dadde0;
    border-radius: 4px;
    resize: none;
    height: 36px;
    font-size: 14px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}textarea {
    resize: vertical;
    overflow: auto;
}
#comment-list{
    margin-top: 1px;
    background: #b9def0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    margin-bottom: 8px;
    padding-bottom: 8px;
}